__pycache__
py-course/*
py-course
.vscode/

example_project/paper/*
!example_project/paper/sections
!example_project/paper/figures
example_project/paper/sections/*.aux
!example_project/paper/*.tex
!example_project/paper/*.pdf
!example_project/paper/*.bst

example_project/presentation/*
!example_project/presentation/sections
!example_project/presentation/figures
example_project/presentation/sections/*.aux
!example_project/presentation/*.tex
!example_project/presentation/*.pdf